bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
DateTime==4.3
docutils==0.14
filelock==3.0.10
hatchbuck==1.0.16
idna==2.7
multidict==4.4.2
packaging==18.0
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
pycountry==18.5.26
Pygments==2.4.2
pyparsing==2.3.0
pytz==2018.7
PyYAML==3.13
readme-renderer==24.0
requests==2.20.0
requests-toolbelt==0.8.0
six==1.11.0
toml==0.10.0
tox==3.5.3
tqdm==4.28.1
twine==1.12.1
urllib3==1.24
vcrpy==2.0.1
virtualenv==16.1.0
webencodings==0.5.1
wrapt==1.10.11
yarl==1.2.6
zope.interface==4.6.0
