certifi==2018.4.16
chardet==3.0.4
DateTime==4.2
idna==2.7
multidict==4.3.1
packaging==17.1
pkginfo==1.4.2
pluggy==0.7.1
py==1.5.4
pycountry==18.5.26
pyparsing==2.2.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-toolbelt==0.8.0
six==1.11.0
tox==3.1.2
tqdm==4.24.0
twine==1.11.0
urllib3==1.23
vcrpy==1.13.0
virtualenv==16.0.0
wrapt==1.10.11
yarl==1.2.6
zope.interface==4.5.0
